In [1]:
# importing libraries
import pandas as pd
import numpy as np
from scipy.stats import zscore
import numpy as np

In [2]:
# read in imdb dataset
raw_imdb_df = pd.read_csv("imdb_data/imdb_full_data.csv")
raw_imdb_df.head()

,id,title,duration,mpa,rating,votes,méta_score,description,movie_link,writers,...,opening_weekend_gross,gross_worldwide,gross_us_canada,release_date,countries_origin,filming_locations,production_companies,awards_content,genres,languages
0,tt0027483,The Crimson Circle,1h 16m,NaN,6.4,30,NaN,An extortion ring murders anyone who refuses t...,https://www.imdb.com/title/tt0027483/,"['Reginald Denham', 'Edgar Wallace', 'Howard I...",...,NaN,NaN,NaN,1936-08-10,['United Kingdom'],NaN,['Richard Wainwright Productions'],NaN,['Drama'],['English']
1,tt0058131,The Mystery of Thug Island,1h 36m,NaN,5.0,114,NaN,"Three year old Ada, daughter of the British ca...",https://www.imdb.com/title/tt0058131/,"['Emilio Salgari', 'Arpad DeRiso', 'Ottavio Po...",...,NaN,NaN,NaN,1966-05-28,"['Italy', 'Monaco', 'West Germany']",NaN,"['Eichberg-Film', 'Liber Film']",NaN,['Adventure'],['Italian']
2,tt0042760,Las mujeres de mi general,1h 52m,Not Rated,6.8,74,NaN,Infante stars as a rebel general caught up in ...,https://www.imdb.com/title/tt0042760/,"['Joselito Rodríguez', 'Celestino Gorostiza', ...",...,NaN,NaN,NaN,1951-07-13,['Mexico'],NaN,['Producciones Rodríguez Hermanos'],NaN,"['Drama', 'War']",['Spanish']
3,tt0027667,Gentle Julia,1h 2m,Approved,6.8,38,NaN,A shy newspaperman (Brown) nearly gives up whe...,https://www.imdb.com/title/tt0027667/,"['Booth Tarkington', 'Lamar Trotti']",...,NaN,NaN,NaN,1936-04-10,['United States'],"['20th Century Fox Studios - 10201 Pico Blvd.,...",['Twentieth Century Fox'],NaN,"['Comedy', 'Drama', 'Romance']",['English']
4,tt0055747,Love at Twenty,1h 50m,NaN,7.2,2.5K,NaN,"""Love at Twenty"" unites five directors from ar...",https://www.imdb.com/title/tt0055747/,"['Shintarô Ishihara', 'Marcel Ophüls', 'Renzo ...",...,NaN,NaN,NaN,1963-02-06,"['France', 'Italy', 'Japan', 'Poland', 'West G...","['Warsaw Zoo, Ratuszowa, Praga Pólnoc, Warsaw,...","['Ulysse Productions', 'Unitec Films', 'Cinese...",NaN,"['Drama', 'Romance']","['French', 'Polish', 'Japanese', 'Italian', 'G..."

In [3]:
# read in oscar dataset
raw_oscar_df = pd.read_csv("oscar_data/oscar_full_data.csv", sep="\t")
raw_oscar_df.head()

,Ceremony,Year,Class,CanonicalCategory,Category,NomId,Film,FilmId,Name,Nominees,NomineeIds,Winner,Detail,Note,Citation,MultifilmNomination
0,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051251,The Noose,tt0019217,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,Nickie Elkins,NaN,NaN,True
1,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051252,The Patent Leather Kid,tt0018253,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,The Patent Leather Kid,NaN,NaN,True
2,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250a,The Last Command,tt0019071,Emil Jannings,Emil Jannings,nm0417837,True,General Dolgorucki [Grand Duke Sergius Alexander],NaN,NaN,True
3,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250b,The Way of All Flesh,tt0019553,Emil Jannings,Emil Jannings,nm0417837,True,August Schilling,NaN,NaN,True
4,1,1927/28,Acting,ACTRESS IN A LEADING ROLE,ACTRESS,an0051255,A Ship Comes In,tt0018389,Louise Dresser,Louise Dresser,nm0237571,NaN,Mrs. Pleznik,NaN,NaN,NaN

In [4]:
# number of rows and columns for each dataset
print("Raw IMDb dataset shape: ", raw_imdb_df.shape)
print("Raw Oscar dataset shape: ", raw_oscar_df.shape)

Raw IMDb dataset shape:  (63249, 23)
Raw Oscar dataset shape:  (12014, 16)

In [5]:
# keep all relevant rows in imdb dataset
imdb_df = raw_imdb_df.drop(columns=['mpa', 'duration', 'description', 'movie_link', 'filming_locations', 'awards_content'])
imdb_df.head()

,id,title,rating,votes,méta_score,writers,directors,stars,budget,opening_weekend_gross,gross_worldwide,gross_us_canada,release_date,countries_origin,production_companies,genres,languages
0,tt0027483,The Crimson Circle,6.4,30,NaN,"['Reginald Denham', 'Edgar Wallace', 'Howard I...",['Reginald Denham'],"['Hugh Wakefield', 'Alfred Drayton', 'Niall Ma...",NaN,NaN,NaN,NaN,1936-08-10,['United Kingdom'],['Richard Wainwright Productions'],['Drama'],['English']
1,tt0058131,The Mystery of Thug Island,5.0,114,NaN,"['Emilio Salgari', 'Arpad DeRiso', 'Ottavio Po...",['Luigi Capuano'],"['Guy Madison', 'Ingeborg Schöner', 'Giacomo R...",NaN,NaN,NaN,NaN,1966-05-28,"['Italy', 'Monaco', 'West Germany']","['Eichberg-Film', 'Liber Film']",['Adventure'],['Italian']
2,tt0042760,Las mujeres de mi general,6.8,74,NaN,"['Joselito Rodríguez', 'Celestino Gorostiza', ...",['Ismael Rodríguez'],"['Pedro Infante', 'Lilia Prado', 'Chula Prieto...",NaN,NaN,NaN,NaN,1951-07-13,['Mexico'],['Producciones Rodríguez Hermanos'],"['Drama', 'War']",['Spanish']
3,tt0027667,Gentle Julia,6.8,38,NaN,"['Booth Tarkington', 'Lamar Trotti']",['John G. Blystone'],"['Jane Withers', 'Tom Brown', 'Marsha Hunt', '...",NaN,NaN,NaN,NaN,1936-04-10,['United States'],['Twentieth Century Fox'],"['Comedy', 'Drama', 'Romance']",['English']
4,tt0055747,Love at Twenty,7.2,2.5K,NaN,"['Shintarô Ishihara', 'Marcel Ophüls', 'Renzo ...","['Shintarô Ishihara', 'Marcel Ophüls', 'Renzo ...","['Jean-Pierre Léaud', 'Marie-France Pisier', '...",NaN,NaN,NaN,NaN,1963-02-06,"['France', 'Italy', 'Japan', 'Poland', 'West G...","['Ulysse Productions', 'Unitec Films', 'Cinese...","['Drama', 'Romance']","['French', 'Polish', 'Japanese', 'Italian', 'G..."

In [6]:
# keep all relevant rows in oscar dataset
oscar_df = raw_oscar_df.drop(columns=['NomId', 'NomineeIds', 'Detail', 'Note', 'Citation', 'MultifilmNomination'])
oscar_df.head()

,Ceremony,Year,Class,CanonicalCategory,Category,Film,FilmId,Name,Nominees,Winner
0,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,The Noose,tt0019217,Richard Barthelmess,Richard Barthelmess,NaN
1,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,The Patent Leather Kid,tt0018253,Richard Barthelmess,Richard Barthelmess,NaN
2,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,The Last Command,tt0019071,Emil Jannings,Emil Jannings,True
3,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,The Way of All Flesh,tt0019553,Emil Jannings,Emil Jannings,True
4,1,1927/28,Acting,ACTRESS IN A LEADING ROLE,ACTRESS,A Ship Comes In,tt0018389,Louise Dresser,Louise Dresser,NaN

In [7]:
# drop null values in imdb dataset and sort release date by ascending order
# filter by NaNs in rating or votes columns
imdb_df = imdb_df.dropna(subset=['rating', 'votes'], how='any')

# sort release date by ascending order (convert column from string to datetime)
imdb_df = imdb_df.assign(release_date=pd.to_datetime(imdb_df['release_date'])).sort_values(by='release_date').reset_index(drop=True)
imdb_df.head()

,id,title,rating,votes,méta_score,writers,directors,stars,budget,opening_weekend_gross,gross_worldwide,gross_us_canada,release_date,countries_origin,production_companies,genres,languages
0,tt0011370,Klostret i Sendomir,6.9,485,NaN,"['Franz Grillparzer', 'Victor Sjöström']",['Victor Sjöström'],"['Tore Svennberg', 'Tora Teje', 'Richard Lund'...",NaN,NaN,NaN,NaN,1920-01-01,['Sweden'],['Svenska Biografteatern AB'],['Drama'],['None']
1,tt0011413,The Lost City,4.7,35,NaN,['Frederick Chapin'],['E.A. Martin'],"['Juanita Hansen', 'George Chesebro', 'Frank C...",NaN,NaN,NaN,NaN,1920-01-01,['United States'],['Selig Polyscope Company'],"['Action', 'Adventure']","['None', 'English']"
2,tt0276209,Hypnose,7.0,19,NaN,['Karl Schneider'],['Richard Eichberg'],"['Lee Parry', 'Gertrud de Lalsky', 'Karl Halde...",NaN,NaN,NaN,NaN,1920-01-03,['Germany'],['Richard Eichberg-Film GmbH'],"['Drama', 'Mystery']",['None']
3,tt0010495,My Husband's Other Wife,5.3,17,NaN,['Stanley Olmstead'],['J. Stuart Blackton'],"['Sylvia Breamer', 'Robert Gordon', 'Warren Ch...",NaN,NaN,NaN,NaN,1920-01-04,['United States'],['J. Stuart Blackton Feature Pictures'],"['Drama', 'Romance']",['None']
4,tt0010502,Nachtgestalten,5.6,25,NaN,"['Richard Oswald', 'Karl Hans Strobl']",['Richard Oswald'],"['Paul Wegener', 'Reinhold Schünzel', 'Erna Mo...",NaN,NaN,NaN,NaN,1920-01-09,['Germany'],['Richard-Oswald-Produktion'],['Horror'],"['None', 'German']"

In [8]:
# display shape of cleaned imdb dataset
print("Cleaned IMDb dataset shape: ", imdb_df.shape)

Cleaned IMDb dataset shape:  (59181, 17)

In [9]:
# drop null values in oscar dataset
# filter out by NaNs in FilmId
oscar_df = oscar_df.dropna(subset=['FilmId'])

# display shape of cleaned oscar dataset
print("Cleaned IMDb dataset shape: ", oscar_df.shape)

Cleaned IMDb dataset shape:  (10753, 10)

In [48]:
# convert meta_score/ratings in imdb dataset from string to ints/floats
imdb_df = imdb_df.rename(columns={'méta_score': 'meta_score'})
imdb_df['meta_score'] = imdb_df['meta_score'].astype('Int64') # nullable integer type (use since some meta_scores are NaN)
imdb_df['rating'] = imdb_df['rating'].astype(float)

# convert votes in imdb dataset from strings (ex: 9K, 1.1M) to numerical values
imdb_df['votes'] = imdb_df['votes'].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)
imdb_df['votes'] = imdb_df['votes'].map(int)

In [50]:
# display imdb dataframe after changes
imdb_df.head(10)

,id,title,rating,votes,meta_score,writers,directors,stars,budget,opening_weekend_gross,gross_worldwide,gross_us_canada,release_date,countries_origin,production_companies,genres,languages
0,tt0011370,Klostret i Sendomir,6.9,485,<NA>,"['Franz Grillparzer', 'Victor Sjöström']",['Victor Sjöström'],"['Tore Svennberg', 'Tora Teje', 'Richard Lund'...",NaN,NaN,NaN,NaN,1920-01-01,['Sweden'],['Svenska Biografteatern AB'],['Drama'],['None']
1,tt0011413,The Lost City,4.7,35,<NA>,['Frederick Chapin'],['E.A. Martin'],"['Juanita Hansen', 'George Chesebro', 'Frank C...",NaN,NaN,NaN,NaN,1920-01-01,['United States'],['Selig Polyscope Company'],"['Action', 'Adventure']","['None', 'English']"
2,tt0276209,Hypnose,7.0,19,<NA>,['Karl Schneider'],['Richard Eichberg'],"['Lee Parry', 'Gertrud de Lalsky', 'Karl Halde...",NaN,NaN,NaN,NaN,1920-01-03,['Germany'],['Richard Eichberg-Film GmbH'],"['Drama', 'Mystery']",['None']
3,tt0010495,My Husband's Other Wife,5.3,17,<NA>,['Stanley Olmstead'],['J. Stuart Blackton'],"['Sylvia Breamer', 'Robert Gordon', 'Warren Ch...",NaN,NaN,NaN,NaN,1920-01-04,['United States'],['J. Stuart Blackton Feature Pictures'],"['Drama', 'Romance']",['None']
4,tt0010502,Nachtgestalten,5.6,25,<NA>,"['Richard Oswald', 'Karl Hans Strobl']",['Richard Oswald'],"['Paul Wegener', 'Reinhold Schünzel', 'Erna Mo...",NaN,NaN,NaN,NaN,1920-01-09,['Germany'],['Richard-Oswald-Produktion'],['Horror'],"['None', 'German']"
5,tt0011738,Stronger Than Death,6.9,31,<NA>,"['Charles Bryant', 'I.A.R. Wylie']","['Herbert Blaché', 'Charles Bryant', 'Robert Z...","['Alla Nazimova', 'Charles Bryant', 'Charles K...",NaN,NaN,NaN,NaN,1920-01-11,['United States'],['Nazimova Productions'],"['Drama', 'Romance']",['None']
6,tt0011870,Within Our Gates,6.4,3800,<NA>,['Oscar Micheaux'],['Oscar Micheaux'],"['Evelyn Preer', 'Flo Clements', 'James D. Ruf...",NaN,NaN,NaN,NaN,1920-01-12,['United States'],['Micheaux Book & Film Company'],"['Dark Romance', 'Feel-Good Romance', 'Politic...",['None']
7,tt0011001,Bleak House,6.4,24,<NA>,"['Charles Dickens', 'William J. Elliott']",['Maurice Elvey'],"['Constance Collier', 'Berta Gellardi', 'E. Vi...",NaN,NaN,NaN,NaN,1920-01-15,['United Kingdom'],['Ideal Films'],"['Crime', 'Drama']",['English']
8,tt0011588,Pollyanna,6.4,541,<NA>,"['Eleanor H. Porter', 'Catherine Chisholm Cush...",['Paul Powell'],"['Mary Pickford', 'Wharton James', 'Katherine ...","$300,000 (estimated)",NaN,NaN,NaN,1920-01-18,['United States'],['Mary Pickford Company'],"['Comedy', 'Drama', 'Family']",['English']
9,tt0011874,A Woman in Grey,6.7,63,<NA>,"['Walter R. Hall', 'A.M. Williamson', 'C.N. Wi...",['James Vincent'],"['Arline Pretty', 'Henry G. Sell', 'Fred C. Jo...",NaN,NaN,NaN,NaN,1920-01-22,['United States'],['Serico Producing Company Inc.'],['Drama'],"['None', 'English']"

In [53]:
# display statisitics on imdb user voting to see what unpopular movies we can filter out
# what is a good cut off point for number of votes? 500? 1000? 5000?

mean_votes = imdb_df['votes'].mean()
votes_stdev = imdb_df['votes'].std()
median_votes = imdb_df['votes'].median()

print('Mean votes: ', mean_votes)
print('Std Dev votes: ', votes_stdev)
print('Median votes: ', median_votes)

Mean votes:  18193.99288623038
Std Dev votes:  84671.72429143485
Median votes:  727.0